/* Billboard */

.jumbotron {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.jumbotron-image-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 50%;
}
.jumbotron-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 64px;
  justify-content: center;
  height: 400px;
  width: 50%;
}

.jumbotron-text {
  width: 100%;
  position: relative;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 42px;
}

.jumbotron-image {
  position: absolute;
}

#billboardImageMultiProduct {
  width: 100%;
}

#macbook {
  width: 50%;
  right: 35%;
}

#iphone {
  width: 50%;
  left: 50%;
  bottom: 20%;
}

.jumbotron-call-to-action {
  width: 234px;
  height: 50px;
  background: var(--primary);
  border-radius: 50px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px var(--primary);
  border: none;
}

.jumbotron-call-to-action:focus {
  outline: 0;
}

.jumbotron-call-to-action:active {
  transform: scale(0.95);
  background-color: darken(5%);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

/* Section */

.section-scroll-and-title {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  margin-bottom: 11px;
}

.section-scroll-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.category-cards-section {
  height: 320px;
}

.category-cards-container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 250px;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}

.category-card {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: var(--secondary);
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-card p {
  margin-top: 5px;
}

.category-card:hover {
  background-color: #181b1a;
  bottom: 20px;
}

.category-card-svg {
  width: 100px;
  height: 100px;
  filter: invert(52%) sepia(37%) saturate(3100%) hue-rotate(128deg)
    brightness(98%) contrast(97%);
}

.category-card:hover > .category-card-text {
  color: #ffffff;
}

.category-card-text {
  font-size: 24px;
}

.product-card {
  width: 300px;
  margin: 36px;
  overflow: visible;
}

.product-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: var(--secondary);
  border-radius: 20px;
  overflow: visible;
  cursor: pointer;
}

.product-image-container img {
  position: absolute;
  object-fit: contain;
  height: 250px;
  transition: bottom 0.7s ease;
  bottom: 25px;
  z-index: 10;
}

.product-image-shaddow {
  position: relative;
  top: 125px;
  width: 200px;
  height: 5px;
  border-radius: 50%;
  background-color: #c4c4c4;
  transition: all 0.7s ease;
}

.product-image-container:hover > img {
  bottom: 80px;
  transition: all 0.7s ease;
}

.product-image-container:hover > .product-image-shaddow {
  width: 100px;
}
.product-image-container {
  border: solid 0px var(--primary);
  transition: all 0.1s ease;
}

.product-image-container:hover {
  border: solid 3px var(--primary);
}

.product-card-title {
  font-size: 24px;
  margin-top: 28px;
  margin-bottom: 16px;
  text-align: left;
}

.product-category-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.product-category-and-price button {
  border: none;
  width: 100px;
  height: 36px;
  border-radius: 50px;
  font-size: 24px;
  cursor: pointer;
}

#Cereals-button {
  background-color: #06cc2436;
  color: #06cc24;
}

#Drinks-button {
  background-color: #0697cc48;
  color: #0697cc;
}

#Sauces-button {
  background-color: #ff7b0048;
  color: #ff7b00;
}
.product-category-and-price p {
  font-size: 24px;
}

.product-cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
}

@media only screen and (max-width: 800px) {
  .jumbotron-text-container {
    order: 2;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0px 0px 64px 0px;
  }
  .jumbotron-text {
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
  }
  .jumbotron-image-container {
    order: 1;
    height: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    width: 250px;
  }
  .category-cards-container {
    position: relative;
    bottom: 36px;
    height: 150px;
    width: fit-content;
  }

  .category-card {
    width: 100px;
    height: 100px;
  }

  .category-card p {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .category-card:hover {
    background-color: #181b1a;
    bottom: 20px;
  }

  .category-card-svg {
    width: 50px;
    height: 50px;
  }
  .category-cards-section {
    height: 210px;
  }
}
